<nav class="navbar navbar-dark bg-primary shadow">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="/">TRUCKER</a>
        {{#if authorized}}
        <div>
            <a href="#" class="pe-2">
                <button class="btn btn-success">Account</button>
            </a>
            <a href="#">
                <button class="btn btn-danger">Logout</button>
            </a>
        </div>
        {{else}}
        <a href="#">
            <button class="btn btn-light">Login</button>
        </a>
        {{/if}}
    </div>
</nav>