{{> navbar}}

<div class="container d-flex flex-column justify-content-center align-items-center content">
    <h2 class="text-center mb-5">TRUCKER is a service for drivers with their trucks and for shippers who need to
        transport something</h2>
    <a href="/registration">
        <button class="button">
            Register now
        </button>
    </a>
</div>