{{> navbar}}

<div class="container content d-flex flex-column justify-content-center align-items-center">
    <h2>Register new user</h2>
    <form class="bg-light p-4 rounded">
        <div class="mb-3">
            <select class="form-select " aria-label="Default select example">
                <option disabled selected>Choose your role</option>
                <option value="SHIPPER">Shipper</option>
                <option value="DRIVER">Driver</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>