*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.background{
  background-image: url('images/trucks.jpg');
  background-size: cover;
  background-position: center;
}

.navbar{
  height: 60px;
}

.content{
  height: calc(100vh - 60px);
}

.button{
  width: 150px;
  height: 60px;
  margin: 40px;
  color: white;
  font-size: 18px;
  background-color: rgba(0, 4, 255);
  border: 1px solid rgb(0, 15, 221);
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

.button:hover{
  background-color: rgb(0, 3, 209);
  border-color: rgba(0, 3, 175, 0.8);
}

.hidden{
  display: none;
}